<div class="container">
    {{!-- jumbotron --}}
    <div class="jumbotron">
        <h1 class="display-4 jumboText"><strong>SLURP DA SOUPS</strong></h1>
        <p class="lead jumboText">WE DON'T BLOW ON SOUP HERE, WE SLURP!</p>
        <form class="form-inline create-form">
            <div class="form-group mx-sm-3 mb-2">
                <label for="soup" class="sr-only"></label>
                <input type="text" class="form-control" id="soup" name="soup" placeholder="Soup">
            </div>
            <div class+"wrap">
                <button type="submit" class="btn subBtn btn-two button mb-2">ENTER</button>
            </div>
        </form>
    </div>
    {{!-- end jumbo --}}

    {{!-- Cards displaying soups --}}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    SOUPS TO SLURP
                </div>
                <div class="card-body" id="cardBg">
                    <ul>
                        {{#each soups}}
                        {{#unless slurped}}
                        <div class="row">
                            <div class="col-7">
                                {{soups}}
                                <span class="soupText"><strong>{{this.id}} - {{this.name}}</strong></span>
                            </div>
                            <div class="col-5 wrap">
                                <button type="button" class="soupSlurp button btn" id="slurpBtn"
                                    data-id="{{this.id}}">SLURP</button>
                            </div>
                        </div>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    SOUPS BEEN SLURPED
                </div>
                <div class="card-body" id="cardBg2">
                    <ul>
                        {{#each soups}}
                        {{#if slurped}}
                        <div class="row">
                            <div class="col-7">
                                <span class="soupText"><strong>{{this.id}} - {{this.name}} </strong></span>
                            </div>
                            <div class="col-5 wrap">
                                <button type="button" class="deleteSoup btn btn-danger button" id="dumpSoup"
                                    data-id="{{this.id}}" data-newSlurped="{{slurp}}"><span
                                        class="fa fa-trash"></span></button>
                                <button type="button" class="reorderSoup btn button" id="dumpSoup"
                                    data-id="{{this.id}}"><span class="fa fa-soup"></span>RE-ORDER</button>
                            </div>
                        </div>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
    </div>
    {{!-- end of cards --}}



</div>