<div class="container">

    {{!-- jumbotron --}}
    <div class="jumbotron">
        <h1 class="display-4">SLURP DA SOUPS</h1>
        <p class="lead">WE DON'T BLOW ON SOUP HERE, SLURP WHERE YOU SLUNK</p>
        <hr class="my-4">
        <form class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <label for="inputPassword2" class="sr-only"></label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary mb-2"><span class="fa fa-surprise"></span></button>
        </form>
    </div>
    {{!-- end jumbo --}}

    {{!-- Cards displaying soups --}}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    SOUPS TO SLURP
                </div>
                <div class="card-body">
                    <ul>
                        {{#each soups}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.name}} </strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="slurpBtn" data-id="{{this.id}}"
                            data-newSlurped="{{slurp}}"><span class="fa fa-untensil-spoon"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    SOUPS BEEN SLURPED
                </div>
                <div class="card-body">
                    <ul>
                        {{#each soups}}
                        {{#if slurped}}
                        <span><strong> {{this.id}} - {{this.name}} </strong></span>
                        <button type="button" class="deleteSoup btn btn-danger" id="dumpSoup" data-id="{{this.id}}"
                            data-newSlurped="{{slurp}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
    </div>
    {{!-- end of cards --}}



</div>