
<div class="container">
{{!-- jumbotron --}}
<div class="jumbotron">
    <h1 class="display-4 jumboText">SLURP DA SOUPS</h1>
    <p class="lead jumboText">WE DON'T BLOW ON SOUP HERE, SLURP!</p>
    <form class="create-form">
        <div class="form-group mx-sm-3 mb-2">
            <label for="soup" class="sr-only"></label>
            <input type="text" class="form-control" id="soup" placeholder="Soup">
        </div>
        <button type="submit" class="btn btn-primary mb-2"><span class="fa fa-surprise"></span></button>
    </form>
</div>
{{!-- end jumbo --}}

    {{!-- Cards displaying soups --}}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    SOUPS TO SLURP
                </div>
                <div class="card-body" id="cardBg">
                    <ul>
                        {{#each soups}}
                        {{#unless slurped}}
                        <span><strong> {{this.id}} - {{this.name}} </strong></span>
                        <button type="button" class="soupSlurp btn btn-warning" id="slurpBtn" data-id="{{this.id}}"
                            data-newSlurped="{{slurp}}"><span class="fa fa-untensil-spoon"></span></button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    SOUPS BEEN SLURPED
                </div>
                <div class="card-body">
                    <ul>
                        {{#each soups}}
                        {{#if slurped}}
                        <span><strong> {{this.id}} - {{this.name}} </strong></span>
                        <button type="button" class="deleteSoup btn btn-danger" id="dumpSoup" data-id="{{this.id}}"
                            data-newSlurped="{{slurp}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
    </div>
    {{!-- end of cards --}}



</div>