
<div class="container">
{{!-- jumbotron --}}
<div class="jumbotron">
    <h1 class="display-4 jumboText">SLURP DA SOUPS</h1>
    <p class="lead jumboText">WE DON'T BLOW ON SOUP HERE, WE SLURP!</p>
    <form class="form-inline create-form">
        <div class="form-group mx-sm-3 mb-2">
            <label for="soup" class="sr-only"></label>
            <input type="text" class="form-control" id="soup" name="soup" placeholder="Soup">
        </div>
        <button type="submit" class="btn btn-danger mb-2">ENTER</button>
    </form>
</div>
{{!-- end jumbo --}}

    {{!-- Cards displaying soups --}}
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    SOUPS TO SLURP
                </div>
                <div class="card-body" id="cardBg">
                    <ul>
                        {{#each soups}}
                        {{#unless slurped}}
                        {{soups}}
                        {{this.id}} - {{this.name}}
                        <button type="button" class="soupSlurp btn btn-secondary margin" id="slurpBtn" data-id="{{this.id}}"
                            data-newSlurped="{{slurp}}">SLURP</button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    SOUPS BEEN SLURPED
                </div>
                <div class="card-body" id="cardBg2">
                    <ul>
                        {{#each soups}}
                        {{#if slurped}}
                         {{this.id}} - {{this.name}} 
                        <button type="button" class="deleteSoup btn btn-danger" id="dumpSoup" data-id="{{this.id}}"
                            data-newSlurped="{{slurp}}"><span class="fa fa-trash"></span></button>
                            <button type="button" class="reorderSoup btn btn-danger" id="dumpSoup" data-id="{{this.id}}"
                            data-newSlurped="{{slurp}}"><span class="fa fa-burger"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>

                </div>
            </div>
        </div>
    </div>
    {{!-- end of cards --}}



</div>